<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <% if(KindofDay === "Sunday" || KindofDay === "Saturday"){%>
      <h1 style="color: purple">it's a <%= KindofDay %>! </h1>

  <%  }else{%>
        <h1 style="color: blue">it's a <%= KindofDay %>! </h1>

    <%}%>
  
  </body>
</html>
